*{
  font-family: 'Sriracha', cursive;
}
.navbar
{

    background-color: white;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  
  nav{
    /*background: #00D6D9;*/
    background: #FFFFFF;
    height: 80px;
    width: 98%;
    border-radius: 25px;
    border-color:  #00D6D9;
     border-style: solid;
    border-width: thick;
     margin: auto;
  
  }

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
 .myimage
 {
    width: 400px;
	margin: 50px auto;
    position: relative;

 }
 .myimage img{
     margin: 20px;
 }
 .myimage input[type=file]
 {

    margin-left: 20px;
 }
 form{
    width: 400px;
	margin: 50px auto;
    position: relative;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
 }
 form input{
    padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
 }
 form button{
    width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
 }
 footer{
   text-align:center;
   background-color: #00D6D9;
   padding-bottom: 0px;
 }